<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<div class="container">
		<ol class="breadcrumb">
			<li><a href="#">后台管理中心</a></li>
			<li><a href="#">培训管理</a></li>
			<li class="active">导入数据</li>
            <li class="active">导入证书模板</li>
		</ol>

		<div class="panel panel-default small-panel info-panel">
			<div class="panel-heading">
				<h3 class="panel-title">导入数据说明</h3>
			</div>
			<div class="panel-body">
				<p>导入数据会删除此培训内现有的所有证书，并将以新上传的数据表中的数据代替</p>
				<p>导入数据需提供 Excel 表格文件，确保其中已填充参与者的学号、专业班级、姓名和分数信息</p>
                <p>确保Excel文件头部字段与导入证书模板字段文字相同</p>
				<p>请下载 <a href="../../demo/acmpx_certificate_demo.xlsx">数据导入模板</a>，从第二行起填充数据，将填充好数据的表格文件在本页面上传</p>
			</div>
		</div>
	</div>
</body>
</html>